<%# app/views/quotes/index.html.erb %>
<main class="container">
  <p class="notice"><%= notice %></p>
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to 'New quote', new_quote_path, class: 'btn btn--primary' %>
  </div>
  <%= render @quotes %>
</main>
